body {
 	width: 100%;
  height: 100%;
  background-color: dimgrey;
}

#container1 { 
  width: 700px; 
  height: 475px; 
  position:relative; 
  margin: 0 auto; 
}

.userOptions {
  position:relative; 
  margin: 0 auto; 
  text-align: center;
}

.optionTitle {
  font: 15 15px/1.3 'Merienda One', Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #000000, 1px 1px 0px rgba(0,0,0,0.15);
}

#header { 
  text-align: center; 
  margin-bottom: -1rem;
  margin-top: -1rem;
  font: 100 50px/1.3 'Merienda One', Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
  
#information { 
  text-align: justify;
	text-align-last: center; 
  font: 15 15px/1.3 'Merienda One', Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #000000, 1px 1px 0px rgba(0,0,0,0.15);
}
    
#footer { 
  text-align: center; 
  font: 10 10px/1.3 'Merienda One', Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #000000, 1px 1px 0px rgba(0,0,0,0.15);
}